body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

input {
  background-color: transparent;

  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(236, 231, 231);
  outline: none;
  height: 3rem;
  width: 100%;
  margin: 0 0 20px 0;
  transition: all 300ms;
}

input:focus {
  border-color: rgb(76, 133, 240);
}

button {
  display: inline-block;

  text-align: center;
  letter-spacing: 0.5px;

  border: none;
  border-radius: 2px;

  height: 36px;
  padding: 0 2rem;

  text-decoration: none;
  text-transform: uppercase;

  background-color: rgb(128, 166, 236);
  color: #fff;
  transition: 300ms ease-out;

  cursor: pointer;
}

button:hover,
button:focus {
  background-color: rgb(76, 133, 240);
}
